#login {
			margin: 0 0 1em 0;
			display : none;
		}

			#login ul.links {
				list-style: none;
				padding: 0;
				display : block;
			}

				#login ul.links > li {
					padding: 0;
				}

					#login ul.links > li > a:not(.button) {
						border: 0;
						border-top: solid 1px rgba(212, 212, 255, 0.1);
						display: block;
						font-size: 0.8em;
						font-weight: 600;
						letter-spacing: 0.25em;
						line-height: 4em;
						text-decoration: none;
						text-transform: uppercase;
					}

					#login ul.links > li > .button {
						display: block;
						margin: 0.5em 0 0 0;
					}

					#login ul.links > li:first-child > a:not(.button) {
						border-top: 0 !important;
					}
					

#loginclick {
	
}

#board{
	/*position : relative;
	left : 30%;
	display : inline-block;
	margin : 0 auto;*/
}

table {
	
	margin-left : auto;
	margin-right : auto;
}

#updateTable{
	height : 270px;
}

#updateTable>tr{
	
	color : blue;
	
}

