<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ptsd.model.BoardDAO">
	<insert id="boardinsert" parameterType="BoardVO">
		insert into PTSD_BOARD values(#{TAXI_NUM}, TAXI_COMMENT_SEQ.nextval, #{TAXI_COMMENT_TITLE}, #{TAXI_COMMENT_WRITER}, #{TAXI_COMMENT_COMMENT}, sysdate)
	</insert>
	
	<select id="boardselect" resultType="BoardVO">
		select * from PTSD_BOARD order by TAXI_COMMENT_DATE desc
	</select>
	
	<select id="boarddetail" parameterType="int" resultType="BoardVO">
		select * from PTSD_BOARD where taxi_num=#{taxi_num}
	</select>
	
	<delete id="boarddelete">
		delete from PTSD_BOARD where taxi_num=#{taxi_num}
	</delete>
	
</mapper>