<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ptsd.model.LanguageDAO">
	
	<!-- 요청한 사항의 시퀀스에 해당하는 언어들 조회 -->
	<select id="languageselect" parameterType="int" resultType="LanguageVO">
		select * from language where lan_seq=#{lan_seq}
	</select>
	
	<select id="langall" resultType="LanguageVO">
		select * from language order by lan_seq desc
	</select>
	
</mapper>