<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ptsd.model.TaxiDAO">
   <insert id="taxiinsert" parameterType="TaxiVO">
      insert into taxi values(Taxi_seq.nextval,#{Taxi_num},#{Car_kinds},#{Office_name},#{Personal_tel},#{Approve_check},#{Pw})
   </insert>
   
   <update id="taxiupdate" parameterType="TaxiVO">
      update taxi set Car_kinds=#{Car_kinds},
      Office_name=#{Office_name},Personal_tel=#{Personal_tel},Approve_check=#{Approve_check},Pw=#{Pw} where Taxi_num=#{Taxi_num}
   </update>
   
   <delete id="taxidelete" parameterType="String">
      delete from taxi where Taxi_num=#{Taxi_num}
   </delete>
   
   	<select id="memberlogin" parameterType="TaxiVO" resultType="TaxiVO">
		select * from taxi where Taxi_Num = #{Taxi_num} and pw =#{Pw} 
	</select>
   
   
</mapper>